* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-container.ativo {
  display: flex;
}
.modal {
  background-color: #3f9fec;
  padding: 40px;
  box-shadow: 0 0 0 10px #1a86d9;
  position: relative;
  min-width: 300px;
  border-radius: 4px;
}
.fechar {
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #1a86d9;
  cursor: pointer;
  color: #fff;
  border: 4px solid #fff;
  position: absolute;
  top: -30px;
  right: -30px;
}
.modal label {
  display: block;
  margin: 12px 8px;
  font-size: 18px;
}
.modal input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  outline: 0;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

form button {
  display: block;
  border: nome;
  border-radius: 4px;
  margin-top: 10px;
}
